<html ng-app="home"  ng-controller="home">
  <head>
    <title>Real time Chat Room </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <div class="container" >
      <ul class="col-xs-6">
          <ul class="user">
            <!-- appending username  -->
            <li class="" ng-repeat="user_list in user_show" ng-style="{
                          'background': clicked==user_list.id ?  '#d2d2d2' :'#e2e2e2',
                          'cursor': my_id==user_list.id ?  'not-allowed' :'pointer'
                      }" ng-click="clicked_highlight(user_list.id)">
                <span id='{{user_list.id}}' >{{ user_list.user_name }}</span>
                <span class='you' ng-style="{
                          'display': my_id==user_list.id ? 'block' :'none' 
                      }">You</span>
            </li>
          </ul>
      </ul>

      <div id="name-group" class="form-group row">
        <button ng-model='counter' ng-click="send_msg($event)">Group</button>
        <input type='button' style='display:none' ng-model='selected_id' />
      </div>   

    </div>



  </body> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/script.js"></script>
</html>

