body {
  font-family: cursive;
}
.container{
  padding-top:20px;
  height: 100%;
}

ul li{
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
	cursor: pointer;
	color: black;
}


.you{
	font-size: 10px;
	float: right;
	color: #353535;
}